openapi: 3.0.2
info:
  version: v3.2-rc2
  title: Te Rito APIs
  description: >
    **Derived from:** SIF Data Model (New Zealand) v3.2 (rc2)


    **Release Date:** 22-Oct-2020

    # Te Rito Data Domains


    <p>
      <img src="domains/zone512.png" usemap="#DomainMap" />
      <map id="DomainMap" name="DomainMap">
        <area title="Organisation" href="TeRito-OpenAPI-organisation.html#tag/OrganisationOverview" shape="rect" coords="71,65,166,126" />
        <area title="Student &amp; Whānau" href="TeRito-OpenAPI-whanau.html#tag/StudentWhanauOverview" shape="rect" coords="284,331,375,390" />
        <area title="Enrolment" href="TeRito-OpenAPI-enrolment.html#tag/EnrolmentOverview" shape="rect" coords="206,0,301,60" />
        <area title="Hauora / Wellbeing" href="TeRito-OpenAPI-hauora.html#tag/HauoraWellbeingOverview" shape="rect" coords="37,214,132,273" />
        <area title="Aromatawai / Assessment" href="TeRito-OpenAPI-aromatawai.html#tag/AromatawaiAssessmentOverview" shape="rect" coords="378,214,471,272" />
        <area title="Timetable" href="TeRito-OpenAPI-attendance.html#tag/ScheduleAttendanceOverview" shape="rect" coords="132,333,221,391" />
        <area title="Attendance" href="TeRito-OpenAPI-attendance.html#tag/ScheduleAttendanceOverview" shape="rect" coords="344,65,437,126" />
      </map>
    </p>


    Te Rito implements the following SIF Domains:
      - [Organisation & Staff](TeRito-OpenAPI-organisation.html#tag/OrganisationOverview)
      - [Timetable](TeRito-OpenAPI-attendance.html#tag/ScheduleAttendanceOverview)
      - [Student & Whānau](TeRito-OpenAPI-whanau.html#tag/StudentWhanauOverview)
      - [Enrolment](TeRito-OpenAPI-enrolment.html#tag/EnrolmentOverview)
      - [Attendance](TeRito-OpenAPI-attendance.html#tag/ScheduleAttendanceOverview)
      - [Aromatawai/Assessment](TeRito-OpenAPI-aromatawai.html#tag/AromatawaiAssessmentOverview)
      - [Hauora/Wellbeing](TeRito-OpenAPI-hauora.html#tag/HauoraWellbeingOverview)
  contact:
    name: Ministry of Education
    url: http://www.terito.govt.nz
    email: terito@education.govt.nz
  x-logo:
    url: http://www.terito.govt.nz/themes/custom/education_drupal_theme/assets/images/Te_rito_greenflax.svg
    backgroundColor: null
    altText: Te Rito Logo
servers:
  - url: https://southern.edsby.co.nz/sif
    description: The demonstration Te Rito server
  - url: https://nzqa.edsby.co.nz/sif
    description: The NZ Quality Assurance Te Rito server (daily updates)
  - url: https://northern.edsby.co.nz/sif
    description: The Integration Test Te Rito server (end of sprint updates)
security:
  - sifDataObject:
      - DEFERRED
x-tagGroups:
  - name: Organisation
    x-displayName: Organisation Domain
    tags:
      - OrganisationOverview
      - Search
      - Organisation
      - OrganisationRelationship
      - StaffPersonal
      - StaffAssignment
      - StaffTeachingGroupAssignment
      - TeachingGroup
      - AcademicDepartment
      - ProviderCourse
tags:
  - name: OrganisationOverview
    x-displayName: Organisation Overview
    description: >-
      <p> The Organisation domain describes education provider entities (ECEs,
      Schools &amp; Tertiary Education Institutions), Communities (Kāhui Ako,
      Learning Support Clusters, etc.) the relationships between them, and the
      Staff that work at them.</p> <img
      src="domains/SIFNZ-LogicalModel-OrganisationDomain.png"
      usemap="#OrganisationMap" /> <map title="OrganisationMap"
      name="OrganisationMap">
        <area title="Organisation" shape="rect" coords="386,44,602,127" href="#tag/Organisation" />
        <area title="OrganisationRelationship" shape="rect" coords="656,142,789,199" href="#tag/OrganisationRelationship" />
        <area title="StaffPersonal" shape="rect" coords="466,472,555,536" href="#tag/StaffPersonal" />
        <area title="StaffAssignment" shape="rect" coords="664,212,754,284" href="#tag/StaffAssignment" />
        <area title="StaffTeachingGroupAssignment" shape="rect" coords="38,263,215,303" href="#tag/StaffTeachingGroupAssignment" />
        <area title="ProviderCourse" shape="rect" coords="387,284,476,320" href="#tag/ProviderCourse" />
        <area title="TeachingGroup" shape="rect" coords="215,65,305,107" href="#tag/TeachingGroup" />
        <area title="AcademicDepartment" shape="rect" coords="196,392,316,427" href="#tag/AcademicDepartment" />
      </map>  
  - name: Search
    x-displayName: Search
    description: Search operation returning partial <a
      href="#tag/StaffPersonal">StaffPersonal</a> and <a
      href="#tag/StudentPersonal">StudentPersonal</a> objects.
  - name: Organisation
    x-displayName: Organisation
    description: Operations on recognised Education Provider entities (ECEs, Schools &
      Tertiary  Education Institutions), Communities (Kāhui Ako, Learning
      Support Clusters, etc.), and  others (Teen Parent Units, Activity Centres.
      etc.)
  - name: OrganisationRelationship
    x-displayName: Organisation Relationship
    description: <p>Operations on recognised relationships between two education
      Organisations. The two organisations are referred to as the Source
      Organisation and the Related Organisation.</p> <p>RelationshipType records
      the nature of the relationship between the two organisations, and gives
      guidance on which is the Source Organisation and which is the Related
      Organisation.</p>
  - name: StaffPersonal
    x-displayName: Staff Personal
    description: >-
      <p>Operations on the personal contact and demographic information relating
      to

      staff members, who might be a teacher or other employee of a Provider.</p>


      <p>Searching for staff personal record by name, email address (or whatever) is

      available via <a href="#tag/Search">Te Rito Search API</a>.</p>


      <p>Non personal information relating to the staff member's relationship with Providers

      is stored in the <a href="#tag/StaffAssignment">StaffAssignment</a> data object.</p>
  - name: StaffAssignment
    x-displayName: Staff Assignment
    description: >-
      <p>Operations on the assignment of a Staff member to their role at a
      Providers or other 

      Organisation. A staff member may have only have a single role at each Provider or Kāhui Ako at any one time 

      (via the Organisation data object)</p>

      <p>Role assignments can be restricted to categories of Students with the StaffSubjectList and
       YearLevelList. This allows for assignment to roles with particular responsibility for general 
       cohorts of students, such as "Head of Department (Maths)" or "Year 8 Student Dean".</p> 
       <p>While assignment to student contact roles such as Subject Teacher, Homeroom Teacher, 
       Whānau Teacher or House Master is made with this data object; Details of the particular group 
       of specific students the staff member is responsible for are made via the 
       <a href="#tag/TeachingGroup">TeachingGroup</a> data object.</p>
  - name: StaffTeachingGroupAssignment
    x-displayName: Staff Teaching Group Assignment
    description: <p>Operations on the assignment of a Staff member to a particular role
      with a particular TeachingGroup at a Provider</p>
  - name: TeachingGroup
    x-displayName: Teaching Group
    description: <p>Operations on teaching Classes of students. Such classes can have
      multiple staff  assigned in a variety of roles (via <a
      href="#tag/StaffTeachingGroupAssignment">StaffTeachingGroupAssignment</a>),  may
      be assigned students from multiple year levels (via <a
      href="#tag/StudentTeachingGroupEnrolment">StudentTeachingGroupEnrolment</a>),
      and may be taught multiple <a
      href="#tag/ProviderCourse">ProviderCourses</a>.</p>
  - name: AcademicDepartment
    x-displayName: Academic Department
    description: <p>Operations on academic departments within a provider, each of which
      groups <a href="#tagProviderCourse">ProviderCourses</a> and  <a
      href="#tagTeachingGroup">TeachingGroups</a> according to SubjectArea.</p>
  - name: ProviderCourse
    x-displayName: Provider Course
    description: <p>Operations on provider defined Courses that Students enrol in,  and may
      be assessed for, and achieve passes in.</p>
paths:
  /search:
    get:
      tags:
        - Search
      summary: Search for Staff and Students
      description: >-
        Search operation returning partial <a
        href="#tag/StaffPersonal">StaffPersonal</a>

        and <a href="#tag/StudentPersonal">StudentPersonal</a> objects.
      operationId: search
      security:
        - sifDataObject:
            - FIRST
            - SUPS
            - SMS
      parameters:
        - name: objects
          in: query
          description: "CSV delimited list of data object names; limits the search to only
            some data objects: staffpersonal, studentpersonal"
          required: false
          schema:
            type: string
          example: StudentPersonal,StaffPersonal
        - name: pattern
          in: query
          description: Select objects where search index includes the given pattern
            pattern; `pattern=Sco*`
          required: false
          schema:
            type: string
          example: Sco*
        - name: query
          in: query
          description: Use lucene query language to select objects;
          required: false
          schema:
            type: string
          example: PersonInfo.Name.GivenName:joel
        - name: max
          in: query
          description: Maximum items per page, default 10,000; `max=100`; applies to any
            call with repeated data
          required: false
          schema:
            type: integer
            minimum: 1
          example: 100
        - name: page
          in: query
          description: Return nth page of results; default 0	`page=2`; applies to any call
            with repeated data
          required: false
          schema:
            type: integer
            minimum: 0
          example: 2
        - name: human
          in: query
          description: For code set fields, translate code to human readable form;	`human=1`
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
          example: 1
        - name: Accept
          in: header
          description: Standard HTTP accept header, choose between JSON and XML for
            response. Defaults to XML if this header is missing.
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/xml
          example: application/json
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Search:
                    type: object
                    properties:
                      Summary:
                        type: object
                        description: Statistical summary of the search results returned.
                        properties:
                          Shown:
                            type: integer
                            description: Count of objects returned in this response
                          More:
                            type: integer
                            description: Count of objects yet to be returned, because of
                              `max` page size limit
                      SearchResults:
                        type: object
                        description: The data objects found
                        properties:
                          Personals:
                            type: object
                            description: Staff &amp; Student Personal objects found
                            properties:
                              StaffPersonals:
                                type: object
                                description: StaffPersonal objects found
                                properties:
                                  StaffPersonal:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        Name:
                                          type: string
                                          description: Full name from the search index
                                        Rank:
                                          type: number
                                          description: Degree of match to search criteria
                                        Type:
                                          type: string
                                          description: Internal data type of object returned
                                        ProviderName:
                                          type: array
                                          description: Array of strings, being the names of
                                            the Providers associated with the
                                            person
                                          items:
                                            type: string
                                        ProviderRefId:
                                          type: array
                                          description: Array of strings, being the
                                            ProviderRefIds of the Providers
                                            associated with the person
                                          items:
                                            type: string
                                        LocalId:
                                          type: string
                                          description: The StaffPersonalLocalId of the
                                            staff member located
                                        RefId:
                                          type: string
                                          description: The StaffPersonalRefId of the staff
                                            member located
                                        ESLPairwiseId:
                                          type: string
                                          description: Internal user provisioning
                                            identifier for the staff member
                                            located
                                        PersonInfo:
                                          type: object
                                          description: Partial PersonInfo object
                                          properties:
                                            Name:
                                              type: object
                                              description: Person name, in pieces and
                                                complete
                                              properties:
                                                Title:
                                                  type: string
                                                FamilyName:
                                                  type: string
                                                GivenName:
                                                  type: string
                                                MiddleName:
                                                  type: string
                                                PreferredGivenName:
                                                  type: string
                                                Suffix:
                                                  type: string
                                                FullName:
                                                  type: string
                                            Demographics:
                                              type: object
                                              properties:
                                                BirthDate:
                                                  type: string
                                                  format: date
                                            EmailList:
                                              type: object
                                              properties:
                                                Email:
                                                  type: object
                                                  properties:
                                                    Address:
                                                      type: string
                              StudentPersonals:
                                type: object
                                properties:
                                  StudentPersonal:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        Name:
                                          type: string
                                          description: Full name from the search index
                                        Rank:
                                          type: number
                                          description: Degree of match to search criteria
                                        Type:
                                          type: string
                                          description: Internal data type of object returned
                                        ProviderName:
                                          type: array
                                          description: Array of strings, being the names of
                                            the Providers associated with the
                                            person
                                          items:
                                            type: string
                                        ProviderRefId:
                                          type: array
                                          description: Array of strings, being the
                                            ProviderRefIds of the Providers
                                            associated with the person
                                          items:
                                            type: string
                                        LocalId:
                                          type: string
                                          description: The StudentPersonalLocalId of the
                                            student located
                                        RefId:
                                          type: string
                                          description: The StudentPersonalRefId of the
                                            student located
                                        NationalStudentNumber:
                                          type: string
                                          description: The National Student Number of the
                                            student located
                                        PersonInfo:
                                          type: object
                                          description: Partial PersonInfo object
                                          properties:
                                            Name:
                                              type: object
                                              description: Person name, in pieces and
                                                complete
                                              properties:
                                                Title:
                                                  type: string
                                                FamilyName:
                                                  type: string
                                                GivenName:
                                                  type: string
                                                MiddleName:
                                                  type: string
                                                PreferredGivenName:
                                                  type: string
                                                Suffix:
                                                  type: string
                                                FullName:
                                                  type: string
                                            Demographics:
                                              type: object
                                              properties:
                                                BirthDate:
                                                  type: string
                                                  format: date
                                                Gender:
                                                  $ref: jsonSchema.NZ.create.yaml#/definitions/NZCodeSetsGender
                                            EmailList:
                                              type: object
                                              properties:
                                                Email:
                                                  type: object
                                                  properties:
                                                    Address:
                                                      type: string
        "401":
          description: Request didn't have Bearer token
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example:
                error: 401
                when: 2020-07-16T20:00:46.000Z
                errorstr: "Unauthorised request: Bearer token missing??"
        "422":
          description: Request didn't have Accept header
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example:
                error: 422
                when: 2020-07-16T20:00:46.000Z
                errorstr: "Unprocessable request: Accept or X-Edsby-OrganisationRefId
                  header missing?? Request body invalid??  Check sl-violations
                  header in response"
  /organisation:
    post:
      tags:
        - Organisation
        - OrganisationBulk
      summary: Create one or more Organisations
      description: Bulk operation to create one or more Organisations, each of which
        represents a single recognised Education Provider entity (ECEs, Schools
        & Tertiary Education Institutions), Community (Kāhui Ako, Learning
        Support Clusters, etc.), or others unit(Teen Parent Units, Activity
        Centres. etc.)
      operationId: createOrganisations
      parameters:
        - name: x-http-method-override
          in: header
          description: Rather than CREATE records, treat this request as a SYNC request.
          required: false
          schema:
            type: string
            oneOf:
              - enum:
                  - IncrementalSync
                title: Incremental Synchronise Request
                description: Add and Update records from the POST to ensure all records are
                  present in the repository
              - enum:
                  - FullSync
                title: Full Synchronise Request
                description: Add, Update and **Delete** records to ensure that ONLY those
                  records are present in the repository
          example: IncrementalSync
        - $ref: "#/paths/~1search/get/parameters/6"
      security:
        - sifDataObject:
            - FIRST
      requestBody:
        description: CRUD operation on Organisation
        content:
          application/json:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
            example:
              Organisations:
                Organisation:
                  - OrganisationRefId: "922"
                    OrganisationLocalId: "42342"
                    Name: Hogwart's Area School
                    Authority: STATE
                    SectorRole: "35003"
                    Type: "10030"
                    OperationalStatus: O
                    EntityOpen: 1652-04-01
                    EducationRegion: "12013"
                    SpecialEducationDistrict: "182011"
                    AddressList:
                      Address:
                        - Type: RU
                          Role: PHY
                          Line1: 1175 Lake Ferry Rd
                          Suburb: RD 1
                          City: Martinborough
                    CommunicationChannelList:
                      Channel:
                        - Notes: Attendance System (Self Service)
                          Type: WEB
                          Value: http://att.hogwarts.school.nz
                        - Notes: School Website
                          Type: WEB
                          Value: http://www.hogwarts.school.nz
                    ContactList:
                      Contact:
                        - Name:
                            FamilyName: Dumbledore
                            GivenName: Albus
                            FullName: Albus Dumbledore
                          PositionTitle: Headmaster
                          Role: PRI
                          AddressList:
                            Address:
                              - Type: TH
                                Role: PHY
                                Line1: 533 Hogwart's Way
                                City: Hogsmead
                                PostalCode: "7733"
                          EmailList:
                            Email: []
                          PhoneNumberList:
                            PhoneNumber: []
                        - Name:
                            FamilyName: Hagrid
                            GivenName: Rubeus
                            FullName: Rubeus Hagrid
                          PositionTitle: Gamekeeper
                          Role: DIR
                          AddressList:
                            Address:
                              - Type: TH
                                Role: PHY
                                Line1: The Enchanted Wood
                                Line2: 533 Hogwart's Way
                                City: Hogsmead
                                PostalCode: "7733"
                          EmailList:
                            Email: []
                          PhoneNumberList:
                            PhoneNumber: []
                    EmailList:
                      Email:
                        - Type: PRIM
                          Address: stuart@gmail.com
                    LocationList:
                      Location:
                        - Description: Only Campus
                          Address:
                            Type: RU
                            Role: PHY
                            Line1: 1175 Lake Ferry Rd
                            Suburb: RD 1
                            City: Martinborough
                            PostalCode: "5781"
                          GridLocation:
                            Latitude: -41.2814719
                            Longitude: 175.3458472
                          StatisticalAreaList:
                            StatisticalArea:
                              - SpatialUnitType: GE
                                Code: "058"
                              - SpatialUnitType: TA
                                Code: "050"
                              - SpatialUnitType: WA
                                Code: "05003"
                    PhoneNumberList:
                      PhoneNumber:
                        - Notes: Attendance Office (Automated)
                          Usage: SMS
                          Type: WTE
                          Number: (0274) 300 9991
                        - Notes: Attendance Office
                          Usage: INT
                          Type: WTE
                          Number: (04) 300 9992
                        - Notes: School Secretary DDI
                          Type: WTE
                          Number: (04) 300 9993
                    SchoolService:
                      CoEdStatus: COED
                      Decile: 5
                      NewEntrantPolicyList:
                        EnactedPolicy:
                          - EffectiveTo: 2018-12-31
                            Policy: AE
                          - EffectiveFrom: 2019-01-01
                            Policy: CE
                      SchoolYearList:
                        SchoolYear:
                          - YearLevel: 1
                            FIRSTSchoolYearGenderId: 1001
                            Gender: C
                          - YearLevel: 2
                            FIRSTSchoolYearGenderId: 1002
                            Gender: C
                          - YearLevel: 3
                            FIRSTSchoolYearGenderId: 1003
                            Gender: C
                          - YearLevel: 4
                            FIRSTSchoolYearGenderId: 1004
                            Gender: C
                          - YearLevel: 5
                            FIRSTSchoolYearGenderId: 1005
                            Gender: C
                          - YearLevel: 6
                            FIRSTSchoolYearGenderId: 1006
                            Gender: C
                          - YearLevel: 7
                            FIRSTSchoolYearGenderId: 1007
                            Gender: C
                          - YearLevel: 8
                            FIRSTSchoolYearGenderId: 1008
                            Gender: C
                          - YearLevel: 9
                            FIRSTSchoolYearGenderId: 1009
                            Gender: F
                          - YearLevel: 10
                            FIRSTSchoolYearGenderId: 1010
                            Gender: F
                          - YearLevel: 11
                            FIRSTSchoolYearGenderId: 1011
                            Gender: F
                          - YearLevel: 12
                            FIRSTSchoolYearGenderId: 1012
                            Gender: F
                          - YearLevel: 13
                            FIRSTSchoolYearGenderId: 1013
                            Gender: F
          application/xml:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
            example: |-
              <Organisations>
                <Organisation>
                  <AddressList/>
                  <CommunicationChannelList/>
                  <ContactList>
                    <Contact>
                      <Name>
                        <FamilyName>Dumbledore</FamilyName>
                        <GivenName>Albus</GivenName>
                        <FullName>Albus Dumbledore</FullName>
                      </Name>
                      <PositionTitle>Lead School Headmaster</PositionTitle>
                      <Role>PRI</Role>
                      <AddressList>
                        <Address>
                          <Type>TH</Type>
                          <Role>PHY</Role>
                          <Line1>533 Hogwart's Way</Line1>
                          <City>Hogsmead</City>
                          <PostalCode>7733</PostalCode>
                        </Address>
                      </AddressList>
                      <EmailList/>
                      <PhoneNumberList/>
                    </Contact>
                  </ContactList>
                  <EmailList>
                    <Email>
                      <Type>PRIM</Type>
                      <Address>hogwarts@mailinator.com</Address>
                    </Email>
                  </EmailList>
                  <LocationList/>
                  <Name>Masterton (Whakaoriori) Kāhui Ako</Name>
                  <PhoneNumberList>
                    <PhoneNumber>
                      <Notes>Lead School Secretary (Mobile)</Notes>
                      <Type>MOB</Type>
                      <Number>(021) 300 999</Number>
                    </PhoneNumber>
                  </PhoneNumberList>
                  <Type>998</Type>
                  <OrganisationRefId>922</OrganisationRefId>
                  <OrganisationLocalId>99204</OrganisationLocalId>
                </Organisation>
              </Organisations>
      responses:
        "200":
          description: Create successful; returns created objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Some objects created, some creates failed
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      title: Error
                      properties:
                        Error:
                          type: object
                          title: error
                          required:
                            - error
                            - when
                            - errorstr
                          additionalProperties: false
                          properties:
                            error:
                              type: integer
                              description: Edsby defined error code
                            when:
                              type: string
                              format: date-time
                              description: Date and Time of when the HTTP request was
                                processed.
                            errorstr:
                              type: string
                              description: Narrative text describing the error
                            refId:
                              type: string
                              description: Data object refId of the object being
                                created/updated
                            localId:
                              type: string
                              description: Data object localId of the object being
                                created/updated
                    - type: object
                      title: Organisation
                      properties:
                        Organisation:
                          $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                - Organisation:
                    OrganisationRefId: "922"
                    OrganisationLocalId: "42342"
                    Name: Hogwart's Area School
                    Authority: STATE
                    SectorRole: "35003"
                    Type: "10030"
                    OperationalStatus: O
                    EntityOpen: 1652-04-01
                    EducationRegion: "12013"
                    SpecialEducationDistrict: "182011"
                    AddressList:
                      Address:
                        - Type: RU
                          Role: PHY
                          Line1: 1175 Lake Ferry Rd
                          Suburb: RD 1
                          City: Martinborough
                    CommunicationChannelList:
                      Channel:
                        - Notes: Attendance System (Self Service)
                          Type: WEB
                          Value: http://att.hogwarts.school.nz
                        - Notes: School Website
                          Type: WEB
                          Value: http://www.hogwarts.school.nz
                    ContactList:
                      Contact:
                        - Name:
                            FamilyName: Dumbledore
                            GivenName: Albus
                            FullName: Albus Dumbledore
                          PositionTitle: Headmaster
                          Role: PRI
                          AddressList:
                            Address:
                              - Type: TH
                                Role: PHY
                                Line1: 533 Hogwart's Way
                                City: Hogsmead
                                PostalCode: "7733"
                          EmailList:
                            Email: []
                          PhoneNumberList:
                            PhoneNumber: []
                        - Name:
                            FamilyName: Hagrid
                            GivenName: Rubeus
                            FullName: Rubeus Hagrid
                          PositionTitle: Gamekeeper
                          Role: DIR
                          AddressList:
                            Address:
                              - Type: TH
                                Role: PHY
                                Line1: The Enchanted Wood
                                Line2: 533 Hogwart's Way
                                City: Hogsmead
                                PostalCode: "7733"
                          EmailList:
                            Email: []
                          PhoneNumberList:
                            PhoneNumber: []
                    EmailList:
                      Email:
                        - Type: PRIM
                          Address: stuart@gmail.com
                    LocationList:
                      Location:
                        - Description: Only Campus
                          Address:
                            Type: RU
                            Role: PHY
                            Line1: 1175 Lake Ferry Rd
                            Suburb: RD 1
                            City: Martinborough
                            PostalCode: "5781"
                          GridLocation:
                            Latitude: -41.2814719
                            Longitude: 175.3458472
                          StatisticalAreaList:
                            StatisticalArea:
                              - SpatialUnitType: GE
                                Code: "058"
                              - SpatialUnitType: TA
                                Code: "050"
                              - SpatialUnitType: WA
                                Code: "05003"
                    PhoneNumberList:
                      PhoneNumber:
                        - Notes: Attendance Office (Automated)
                          Usage: SMS
                          Type: WTE
                          Number: (0274) 300 9991
                        - Notes: Attendance Office
                          Usage: INT
                          Type: WTE
                          Number: (04) 300 9992
                        - Notes: School Secretary DDI
                          Type: WTE
                          Number: (04) 300 9993
                    SchoolService:
                      CoEdStatus: COED
                      Decile: 5
                      NewEntrantPolicyList:
                        EnactedPolicy:
                          - EffectiveTo: 2018-12-31
                            Policy: AE
                          - EffectiveFrom: 2019-01-01
                            Policy: CE
                      SchoolYearList:
                        SchoolYear:
                          - YearLevel: 1
                            FIRSTSchoolYearGenderId: 1001
                            Gender: C
                          - YearLevel: 2
                            FIRSTSchoolYearGenderId: 1002
                            Gender: C
                          - YearLevel: 3
                            FIRSTSchoolYearGenderId: 1003
                            Gender: C
                          - YearLevel: 4
                            FIRSTSchoolYearGenderId: 1004
                            Gender: C
                          - YearLevel: 5
                            FIRSTSchoolYearGenderId: 1005
                            Gender: C
                          - YearLevel: 6
                            FIRSTSchoolYearGenderId: 1006
                            Gender: C
                          - YearLevel: 7
                            FIRSTSchoolYearGenderId: 1007
                            Gender: C
                          - YearLevel: 8
                            FIRSTSchoolYearGenderId: 1008
                            Gender: C
                          - YearLevel: 9
                            FIRSTSchoolYearGenderId: 1009
                            Gender: F
                          - YearLevel: 10
                            FIRSTSchoolYearGenderId: 1010
                            Gender: F
                          - YearLevel: 11
                            FIRSTSchoolYearGenderId: 1011
                            Gender: F
                          - YearLevel: 12
                            FIRSTSchoolYearGenderId: 1012
                            Gender: F
                          - YearLevel: 13
                            FIRSTSchoolYearGenderId: 1013
                            Gender: F
                - Error:
                    error: 1009
                    when: 2020-07-16T20:00:46.000Z
                    errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required
                      field PersonInfo-Name-FamilyName (LastName) 'None'"
                    localId: ST-002
                    refId: null
            application/xml:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          title: Error
                          properties:
                            Error:
                              type: object
                              title: error
                              required:
                                - error
                                - when
                                - errorstr
                              additionalProperties: false
                              properties:
                                error:
                                  type: integer
                                  description: Edsby defined error code
                                when:
                                  type: string
                                  format: date-time
                                  description: Date and Time of when the HTTP request was
                                    processed.
                                errorstr:
                                  type: string
                                  description: Narrative text describing the error
                                refId:
                                  type: string
                                  description: Data object refId of the object being
                                    created/updated
                                localId:
                                  type: string
                                  description: Data object localId of the object being
                                    created/updated
                        - type: object
                          title: Organisation
                          properties:
                            Organisation:
                              $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example: >-
                <Response>
                  <Organisation>
                    <AddressList/>
                    <CommunicationChannelList/>
                    <ContactList>
                      <Contact>
                        <Name>
                          <FamilyName>Dumbledore</FamilyName>
                          <GivenName>Albus</GivenName>
                          <FullName>Albus Dumbledore</FullName>
                        </Name>
                        <PositionTitle>Lead School Headmaster</PositionTitle>
                        <Role>PRI</Role>
                        <AddressList>
                          <Address>
                            <Type>TH</Type>
                            <Role>PHY</Role>
                            <Line1>533 Hogwart's Way</Line1>
                            <City>Hogsmead</City>
                            <PostalCode>7733</PostalCode>
                          </Address>
                        </AddressList>
                        <EmailList/>
                        <PhoneNumberList/>
                      </Contact>
                    </ContactList>
                    <EmailList>
                      <Email>
                        <Type>PRIM</Type>
                        <Address>hogwarts@mailinator.com</Address>
                      </Email>
                    </EmailList>
                    <LocationList/>
                    <Name>Masterton (Whakaoriori) Kāhui Ako</Name>
                    <PhoneNumberList>
                      <PhoneNumber>
                        <Notes>Lead School Secretary (Mobile)</Notes>
                        <Type>MOB</Type>
                        <Number>(021) 300 999</Number>
                      </PhoneNumber>
                    </PhoneNumberList>
                    <Type>998</Type>
                    <OrganisationRefId>922</OrganisationRefId>
                    <OrganisationLocalId>99204</OrganisationLocalId>
                  </Organisation>    
                  <Error>
                    <error>1009</error>
                    <when>2020-07-16T20:00:46.000Z</when>
                    <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                    <localId>ST-002</localId>
                    <refId/>
                  </Error>      
                </Response>
    get:
      tags:
        - Organisation
        - OrganisationBulk
      summary: Retrieve one or more Organisations
      description: Bulk operation to retrieve all available Organisations, each of which
        represents a single recognised Education Provider entity (ECEs, Schools
        & Tertiary  Education Institutions), Community (Kāhui Ako, Learning
        Support Clusters, etc.), or others unit(Teen Parent Units, Activity
        Centres. etc.)
      operationId: getOrganisations
      parameters:
        - name: fields
          in: query
          description: Return only specified fields	`fields=name,nid`
          required: false
          schema:
            type: string
          example: PersonInfo.Name.FamilyName,PersonInfo.Name.GivenName
        - $ref: "#/paths/~1search/get/parameters/4"
        - $ref: "#/paths/~1search/get/parameters/3"
        - name: unwrap
          in: query
          description: Remove top level wrapper from json results in single result
            reponses;	`unwrap=1`
          required: false
          schema:
            enum:
              - 0
              - 1
              - 2
          example: 1
        - $ref: "#/paths/~1search/get/parameters/5"
        - name: sort
          in: query
          description: Sort results by specified field;	`sort=FamilyName`
          required: false
          schema:
            type: string
          example: PersonInfo.Name.FamilyName,PersonInfo.Name.GivenName
        - name: field
          in: query
          description: Field to filter on when used with **pattern**;	`field=FamilyName`
          required: false
          schema:
            type: string
          example: PersonName.Name.FamilyName
        - name: pattern
          in: query
          description: Filter results using pattern on **field**; `pattern=We*`
          required: false
          schema:
            type: string
          example: We*
        - $ref: "#/paths/~1search/get/parameters/6"
      security:
        - sifDataObject:
            - SMS
            - FIRST
            - SUPS
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Failed to retrieve object(s).
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example:
                error: 1009
                when: 2020-07-16T20:00:46.000Z
                errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required field
                  PersonInfo-Name-FamilyName (LastName) 'None'"
                localId: ST-002
            application/xml:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example: >-
                <Error>
                  <error>1009</error>
                  <when>2020-07-16T20:00:46.000Z</when>
                  <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                  <localId>ST-002</localId>
                </Error>
    put:
      tags:
        - Organisation
        - OrganisationBulk
      summary: Update one or more Organisations
      description: "Bulk operation to update one or more Organisations, each of which
        represents a single recognised Education Provider entity (ECEs, Schools
        & Tertiary  Education Institutions), Community (Kāhui Ako, Learning
        Support Clusters, etc.), or others unit(Teen Parent Units, Activity
        Centres. etc.)    "
      operationId: updateOrganisations
      security:
        - sifDataObject:
            - FIRST
      parameters:
        - $ref: "#/paths/~1search/get/parameters/6"
      requestBody:
        description: CRUD operation on Organisation
        content:
          application/json:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
            example:
              $ref: "#/paths/~1organisation/post/requestBody/content/application~1j\
                son/example"
          application/xml:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
            example:
              $ref: "#/paths/~1organisation/post/requestBody/content/application~1x\
                ml/example"
      responses:
        "200":
          description: Update successful; returns updated objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Some objects updated, some updates failed
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      title: Error
                      properties:
                        Error:
                          $ref: "#/paths/~1organisation/post/responses/default/cont\
                            ent/application~1json/schema/items/anyOf/0/properti\
                            es/Error"
                    - type: object
                      title: Organisation
                      properties:
                        Organisation:
                          $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation/post/responses/default/content/applic\
                  ation~1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          title: Error
                          properties:
                            Error:
                              $ref: "#/paths/~1organisation/post/responses/default/\
                                content/application~1xml/schema/properties/Resp\
                                onse/items/anyOf/0/properties/Error"
                        - type: object
                          title: Organisation
                          properties:
                            Organisation:
                              $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation/post/responses/default/content/applic\
                  ation~1xml/example"
    patch:
      tags:
        - Organisation
        - OrganisationBulk
      summary: Patch one or more Organisations
      description: Bulk operation to update one or more fields of one or more
        Organisations, each of which represents a single recognised Education
        Provider entity (ECEs, Schools & Tertiary  Education Institutions),
        Community (Kāhui Ako, Learning Support Clusters, etc.), or others
        unit(Teen Parent Units, Activity Centres. etc.)
      operationId: patchOrganisations
      security:
        - sifDataObject:
            - FIRST
      parameters:
        - $ref: "#/paths/~1search/get/parameters/6"
      requestBody:
        description: CRUD operation on Organisation
        content:
          application/json:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.update.yaml#/properties/Organisations
            example:
              $ref: "#/paths/~1organisation/post/requestBody/content/application~1j\
                son/example"
          application/xml:
            schema:
              type: object
              properties:
                Organisations:
                  $ref: jsonSchema.NZ.update.yaml#/properties/Organisations
            example:
              $ref: "#/paths/~1organisation/post/requestBody/content/application~1x\
                ml/example"
      responses:
        "200":
          description: Patch successful; returns patched objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisations:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisations
              example:
                $ref: "#/paths/~1organisation/post/requestBody/content/application~\
                  1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Some objects patched, some patches failed
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      title: Error
                      properties:
                        Error:
                          $ref: "#/paths/~1organisation/post/responses/default/cont\
                            ent/application~1json/schema/items/anyOf/0/properti\
                            es/Error"
                    - type: object
                      title: Organisation
                      properties:
                        Organisation:
                          $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation/post/responses/default/content/applic\
                  ation~1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          title: Error
                          properties:
                            Error:
                              $ref: "#/paths/~1organisation/post/responses/default/\
                                content/application~1xml/schema/properties/Resp\
                                onse/items/anyOf/0/properties/Error"
                        - type: object
                          title: Organisation
                          properties:
                            Organisation:
                              $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation/post/responses/default/content/applic\
                  ation~1xml/example"
  "/organisation/{OrganisationRefId}":
    get:
      tags:
        - Organisation
        - OrganisationSingle
      summary: Retrieve a single Organisation
      description: "Retrive a particular Organisation, which represents a single recognised
        Education Provider entity (ECEs, Schools & Tertiary  Education
        Institutions), Community (Kāhui Ako, Learning Support Clusters, etc.),
        or others unit(Teen Parent Units, Activity Centres. etc.)    "
      operationId: getOrganisation
      security:
        - sifDataObject:
            - SMS
            - FIRST
            - SUPS
      parameters:
        - $ref: "#/paths/~1organisation/get/parameters/0"
        - $ref: "#/paths/~1search/get/parameters/4"
        - $ref: "#/paths/~1search/get/parameters/3"
        - $ref: "#/paths/~1organisation/get/parameters/3"
        - $ref: "#/paths/~1search/get/parameters/5"
        - $ref: "#/paths/~1organisation/get/parameters/5"
        - $ref: "#/paths/~1organisation/get/parameters/6"
        - $ref: "#/paths/~1organisation/get/parameters/7"
        - $ref: "#/paths/~1search/get/parameters/6"
        - name: OrganisationRefId
          in: path
          required: true
          description: <p>The Ministry of Education Organisation Id of the Provider(or
            other Organisation); being worked on.</p>
          schema:
            type: string
            pattern: ^[1-9][0-9]{0,4}$
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                Organisation:
                  OrganisationRefId: "922"
                  OrganisationLocalId: "42342"
                  Name: Hogwart's Area School
                  Authority: STATE
                  SectorRole: "35003"
                  Type: "10030"
                  OperationalStatus: O
                  EntityOpen: 1652-04-01
                  EducationRegion: "12013"
                  SpecialEducationDistrict: "182011"
                  AddressList:
                    Address:
                      - Type: RU
                        Role: PHY
                        Line1: 1175 Lake Ferry Rd
                        Suburb: RD 1
                        City: Martinborough
                  CommunicationChannelList:
                    Channel:
                      - Notes: Attendance System (Self Service)
                        Type: WEB
                        Value: http://att.hogwarts.school.nz
                      - Notes: School Website
                        Type: WEB
                        Value: http://www.hogwarts.school.nz
                  ContactList:
                    Contact:
                      - Name:
                          FamilyName: Dumbledore
                          GivenName: Albus
                          FullName: Albus Dumbledore
                        PositionTitle: Headmaster
                        Role: PRI
                        AddressList:
                          Address:
                            - Type: TH
                              Role: PHY
                              Line1: 533 Hogwart's Way
                              City: Hogsmead
                              PostalCode: "7733"
                        EmailList:
                          Email: []
                        PhoneNumberList:
                          PhoneNumber: []
                      - Name:
                          FamilyName: Hagrid
                          GivenName: Rubeus
                          FullName: Rubeus Hagrid
                        PositionTitle: Gamekeeper
                        Role: DIR
                        AddressList:
                          Address:
                            - Type: TH
                              Role: PHY
                              Line1: The Enchanted Wood
                              Line2: 533 Hogwart's Way
                              City: Hogsmead
                              PostalCode: "7733"
                        EmailList:
                          Email: []
                        PhoneNumberList:
                          PhoneNumber: []
                  EmailList:
                    Email:
                      - Type: PRIM
                        Address: stuart@gmail.com
                  LocationList:
                    Location:
                      - Description: Only Campus
                        Address:
                          Type: RU
                          Role: PHY
                          Line1: 1175 Lake Ferry Rd
                          Suburb: RD 1
                          City: Martinborough
                          PostalCode: "5781"
                        GridLocation:
                          Latitude: -41.2814719
                          Longitude: 175.3458472
                        StatisticalAreaList:
                          StatisticalArea:
                            - SpatialUnitType: GE
                              Code: "058"
                            - SpatialUnitType: TA
                              Code: "050"
                            - SpatialUnitType: WA
                              Code: "05003"
                  PhoneNumberList:
                    PhoneNumber:
                      - Notes: Attendance Office (Automated)
                        Usage: SMS
                        Type: WTE
                        Number: (0274) 300 9991
                      - Notes: Attendance Office
                        Usage: INT
                        Type: WTE
                        Number: (04) 300 9992
                      - Notes: School Secretary DDI
                        Type: WTE
                        Number: (04) 300 9993
                  SchoolService:
                    CoEdStatus: COED
                    Decile: 5
                    NewEntrantPolicyList:
                      EnactedPolicy:
                        - EffectiveTo: 2018-12-31
                          Policy: AE
                        - EffectiveFrom: 2019-01-01
                          Policy: CE
                    SchoolYearList:
                      SchoolYear:
                        - YearLevel: 1
                          FIRSTSchoolYearGenderId: 1001
                          Gender: C
                        - YearLevel: 2
                          FIRSTSchoolYearGenderId: 1002
                          Gender: C
                        - YearLevel: 3
                          FIRSTSchoolYearGenderId: 1003
                          Gender: C
                        - YearLevel: 4
                          FIRSTSchoolYearGenderId: 1004
                          Gender: C
                        - YearLevel: 5
                          FIRSTSchoolYearGenderId: 1005
                          Gender: C
                        - YearLevel: 6
                          FIRSTSchoolYearGenderId: 1006
                          Gender: C
                        - YearLevel: 7
                          FIRSTSchoolYearGenderId: 1007
                          Gender: C
                        - YearLevel: 8
                          FIRSTSchoolYearGenderId: 1008
                          Gender: C
                        - YearLevel: 9
                          FIRSTSchoolYearGenderId: 1009
                          Gender: F
                        - YearLevel: 10
                          FIRSTSchoolYearGenderId: 1010
                          Gender: F
                        - YearLevel: 11
                          FIRSTSchoolYearGenderId: 1011
                          Gender: F
                        - YearLevel: 12
                          FIRSTSchoolYearGenderId: 1012
                          Gender: F
                        - YearLevel: 13
                          FIRSTSchoolYearGenderId: 1013
                          Gender: F
            application/xml:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example: |-
                <Organisation>
                  <AddressList/>
                  <CommunicationChannelList/>
                  <ContactList>
                    <Contact>
                      <Name>
                        <FamilyName>Dumbledore</FamilyName>
                        <GivenName>Albus</GivenName>
                        <FullName>Albus Dumbledore</FullName>
                      </Name>
                      <PositionTitle>Lead School Headmaster</PositionTitle>
                      <Role>PRI</Role>
                      <AddressList>
                        <Address>
                          <Type>TH</Type>
                          <Role>PHY</Role>
                          <Line1>533 Hogwart's Way</Line1>
                          <City>Hogsmead</City>
                          <PostalCode>7733</PostalCode>
                        </Address>
                      </AddressList>
                      <EmailList/>
                      <PhoneNumberList/>
                    </Contact>
                  </ContactList>
                  <EmailList>
                    <Email>
                      <Type>PRIM</Type>
                      <Address>hogwarts@mailinator.com</Address>
                    </Email>
                  </EmailList>
                  <LocationList/>
                  <Name>Masterton (Whakaoriori) Kāhui Ako</Name>
                  <PhoneNumberList>
                    <PhoneNumber>
                      <Notes>Lead School Secretary (Mobile)</Notes>
                      <Type>MOB</Type>
                      <Number>(021) 300 999</Number>
                    </PhoneNumber>
                  </PhoneNumberList>
                  <Type>998</Type>
                  <OrganisationRefId>922</OrganisationRefId>
                  <OrganisationLocalId>99204</OrganisationLocalId>
                </Organisation>
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          $ref: "#/paths/~1organisation/get/responses/default"
    put:
      tags:
        - Organisation
        - OrganisationSingle
      summary: Update a single Organisation
      description: "Update a particular Organisation, which represents a single recognised
        Education Provider entity (ECEs, Schools & Tertiary  Education
        Institutions), Community (Kāhui Ako, Learning Support Clusters, etc.),
        or others unit(Teen Parent Units, Activity Centres. etc.)    "
      operationId: updateOrganisation
      security:
        - sifDataObject:
            - FIRST
      parameters:
        - $ref: "#/paths/~1search/get/parameters/6"
        - name: OrganisationRefId
          in: path
          required: true
          description: <p>The Ministry of Education Organisation Id of the Provider(or
            other Organisation); being worked on.</p>
          schema:
            type: string
            pattern: ^[1-9][0-9]{0,4}$
      requestBody:
        description: CRUD operation on Organisation
        content:
          application/json:
            schema:
              type: object
              properties:
                Organisation:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
            example:
              $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/responses/\
                200/content/application~1json/example"
          application/xml:
            schema:
              type: object
              properties:
                Organisation:
                  $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
            example:
              $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/responses/\
                200/content/application~1xml/example"
      responses:
        "200":
          description: Update successful; returns updated object
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/response\
                  s/200/content/application~1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/response\
                  s/200/content/application~1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Failed to update object.
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example:
                error: 1009
                when: 2020-07-16T20:00:46.000Z
                errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required field
                  PersonInfo-Name-FamilyName (LastName) 'None'"
                localId: ST-002
            application/xml:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example: >-
                <Error>
                  <error>1009</error>
                  <when>2020-07-16T20:00:46.000Z</when>
                  <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                  <localId>ST-002</localId>
                </Error>
    patch:
      tags:
        - Organisation
        - OrganisationSingle
      summary: Patch a single Organisation
      description: Update one or more fields of a particular Organisation, which represents
        a single recognised Education Provider entity (ECEs, Schools &
        Tertiary  Education Institutions), Community (Kāhui Ako, Learning
        Support Clusters, etc.), or others unit(Teen Parent Units, Activity
        Centres. etc.)
      operationId: patchOrganisation
      security:
        - sifDataObject:
            - FIRST
      parameters:
        - $ref: "#/paths/~1search/get/parameters/6"
        - name: OrganisationRefId
          in: path
          required: true
          description: <p>The Ministry of Education Organisation Id of the Provider(or
            other Organisation); being worked on.</p>
          schema:
            type: string
            pattern: ^[1-9][0-9]{0,4}$
      requestBody:
        description: CRUD operation on Organisation
        content:
          application/json:
            schema:
              type: object
              properties:
                Organisation:
                  $ref: jsonSchema.NZ.update.yaml#/properties/Organisation
            example:
              $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/responses/\
                200/content/application~1json/example"
          application/xml:
            schema:
              type: object
              properties:
                Organisation:
                  $ref: jsonSchema.NZ.update.yaml#/properties/Organisation
            example:
              $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/responses/\
                200/content/application~1xml/example"
      responses:
        "200":
          description: Patch successful; returns patched object
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/response\
                  s/200/content/application~1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D/get/response\
                  s/200/content/application~1xml/example"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Failed to patch object.
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example:
                error: 1009
                when: 2020-07-16T20:00:46.000Z
                errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required field
                  PersonInfo-Name-FamilyName (LastName) 'None'"
                localId: ST-002
            application/xml:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                    description: Edsby defined error code
                  when:
                    type: string
                    format: date-time
                    description: Date and Time of when the HTTP request was processed.
                  errorstr:
                    type: string
                    description: Narrative text describing the error
                  refId:
                    type: string
                    description: Data object refId of the object being created/updated
                  localId:
                    type: string
                    description: Data object localId of the object being created/updated
              example: >-
                <Error>
                  <error>1009</error>
                  <when>2020-07-16T20:00:46.000Z</when>
                  <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                  <localId>ST-002</localId>
                </Error>
  "/organisation/{OrganisationRefId}/organisationrelationship":
    post:
      tags:
        - OrganisationRelationship
        - OrganisationRelationshipBulk
      summary: Create one or more OrganisationRelationships
      description: Bulk operation to create one or more OrganisationRelationships, each of
        which represents  a single recognised relationship between two education
        Organisations. The two organisations are referred to as the Source
        Organisation and the Related Organisation.</p> <p>RelationshipType
        records the nature of the relationship between the two
        organisations,  and gives guidance on which is the Source Organisation
        and which is the Related Organisation.</p>
      operationId: createOrganisationRelationships
      security:
        - sifDataObject:
            - FIRST
      parameters:
        - $ref: "#/paths/~1organisation/post/parameters/0"
        - $ref: "#/paths/~1search/get/parameters/6"
        - name: OrganisationRefId
          in: path
          required: true
          description: <p>The Ministry of Education Organisation Id of the Provider (or
            other Organisation) that must be either the <strong>source</strong>
            or <strong>related</strong> Organisation of the organisation
            relationships.
          schema:
            type: string
            pattern: ^[1-9][0-9]{0,4}$
          example: "9651"
      requestBody:
        description: CRUD operation on OrganisationRelationship
        content:
          application/json:
            schema:
              type: object
              properties:
                OrganisationRelationships:
                  $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
            example:
              OrganisationRelationships:
                OrganisationRelationship:
                  - OrganisationRelationshipLocalId: 90100_8001
                    Status: A
                    RelationshipType: "34037"
                    SourceOrganisation:
                      RefId: "90100"
                    SourceOrganisationRole: LSC
                    SourceOrganisationAgreementDate: 2020-01-15
                    RelatedOrganisation:
                      RefId: "8001"
                    RelatedOrganisationRole: "184000"
                    RelatedOrganisationAgreementDate: 2020-01-15
                    EffectiveDate: 2020-01-15
          application/xml:
            schema:
              type: object
              properties:
                OrganisationRelationships:
                  $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
            example: >-
              <OrganisationRelationships>
                <OrganisationRelationship>
                  <OrganisationRelationshipLocalId>90100_8001</OrganisationRelationshipLocalId>
                  <Status>A</Status>
                  <RelationshipType>34037</RelationshipType>
                  <SourceOrganisation>
                    <RefId>90100</RefId>
                  </SourceOrganisation>
                  <SourceOrganisationRole>LSC</SourceOrganisationRole>
                  <SourceOrganisationAgreementDate>2020-01-15</SourceOrganisationAgreementDate>
                  <RelatedOrganisation>
                    <RefId>8001</RefId>
                  </RelatedOrganisation>
                  <RelatedOrganisationRole>184000</RelatedOrganisationRole>
                  <RelatedOrganisationAgreementDate>2020-01-15</RelatedOrganisationAggreementDate>
                  <EffectiveDate>2020-01-15</EffectiveDate>
                </OrganisationRelationship>
                <OrganisationRelationship>
                  <OrganisationRelationshipLocalId>90100_8002</OrganisationRelationshipLocalId>
                  <Status>A</Status>
                  <RelationshipType>34037</RelationshipType>
                  <SourceOrganisation>
                    <RefId>90100</RefId>
                  </SourceOrganisation>
                  <SourceOrganisationRole>LSC</SourceOrganisationRole>
                  <SourceOrganisationAgreementDate>2020-01-15</SourceOrganisationAgreementDate>
                  <RelatedOrganisation>
                    <RefId>8002</RefId>
                  </RelatedOrganisation>
                  <RelatedOrganisationRole>184000</RelatedOrganisationRole>
                  <RelatedOrganisationAgreementDate>2020-01-16</RelatedOrganisationAggreementDate>
                  <EffectiveDate>2020-01-16</EffectiveDate>
                </OrganisationRelationship>
              </OrganisationRelationships>
      responses:
        "200":
          description: Create successful; returns created objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  OrganisationRelationships:
                    $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D~1organisatio\
                  nrelationship/post/requestBody/content/application~1json/exam\
                  ple"
            application/xml:
              schema:
                type: object
                properties:
                  OrganisationRelationships:
                    $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D~1organisatio\
                  nrelationship/post/requestBody/content/application~1xml/examp\
                  le"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          description: Some objects created, some creates failed
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      title: Error
                      properties:
                        Error:
                          $ref: "#/paths/~1organisation/post/responses/default/cont\
                            ent/application~1json/schema/items/anyOf/0/properti\
                            es/Error"
                    - type: object
                      title: OrganisationRelationship
                      properties:
                        OrganisationRelationship:
                          $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationship
              example:
                - OrganisationRelationship:
                    OrganisationRelationshipLocalId: 90100_8001
                    Status: A
                    RelationshipType: "34037"
                    SourceOrganisation:
                      RefId: "90100"
                    SourceOrganisationRole: LSC
                    SourceOrganisationAgreementDate: 2020-01-15
                    RelatedOrganisation:
                      RefId: "8001"
                    RelatedOrganisationRole: "184000"
                    RelatedOrganisationAgreementDate: 2020-01-15
                    EffectiveDate: 2020-01-15
                - Error:
                    error: 1009
                    when: 2020-07-16T20:00:46.000Z
                    errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required
                      field PersonInfo-Name-FamilyName (LastName) 'None'"
                    localId: ST-002
                    refId: null
            application/xml:
              schema:
                type: object
                properties:
                  Response:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          title: Error
                          properties:
                            Error:
                              $ref: "#/paths/~1organisation/post/responses/default/\
                                content/application~1xml/schema/properties/Resp\
                                onse/items/anyOf/0/properties/Error"
                        - type: object
                          title: OrganisationRelationship
                          properties:
                            OrganisationRelationship:
                              $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationship
              example: >-
                <Response>
                  <OrganisationRelationship>
                    <OrganisationRelationshipLocalId>90100_8001</OrganisationRelationshipLocalId>
                    <Status>A</Status>
                    <RelationshipType>34037</RelationshipType>
                    <SourceOrganisation>
                      <RefId>90100</RefId>
                    </SourceOrganisation>
                    <SourceOrganisationRole>LSC</SourceOrganisationRole>
                    <SourceOrganisationAgreementDate>2020-01-15</SourceOrganisationAgreementDate>
                    <RelatedOrganisation>
                      <RefId>8001</RefId>
                    </RelatedOrganisation>
                    <RelatedOrganisationRole>184000</RelatedOrganisationRole>
                    <RelatedOrganisationAgreementDate>2020-01-15</RelatedOrganisationAggreementDate>
                    <EffectiveDate>2020-01-15</EffectiveDate>
                  </OrganisationRelationship>
                  <Error>
                    <error>1009</error>
                    <when>2020-07-16T20:00:46.000Z</when>
                    <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                    <localId>ST-002</localId>
                    <refId/>
                  </Error>      
                </Response>
    get:
      tags:
        - OrganisationRelationship
        - OrganisationRelationshipBulk
      summary: Get a list of OrganisationRelationships
      description: Bulk operation to retrieve all available OrganisationRelationships where
        the given OrganisationRelationshipRefId represents either the
        <strong>Source</strong> or <strong>Related</strong> organisation in the
        OrganisationRelationship.</p> <p> Each OrganisationRelationship
        represents a single recognised relationship between two education
        Organisations. The two organisations are referred to as the
        Source  Organisation and the Related Organisation.</p>
        <p>RelationshipType records the nature of the relationship between the
        two organisations,  and gives guidance on which is the Source
        Organisation and which is the Related Organisation.</p>
      operationId: getOrganisationRelationships
      security:
        - sifDataObject:
            - SMS
            - FIRST
            - SUPS
      parameters:
        - $ref: "#/paths/~1organisation/get/parameters/0"
        - $ref: "#/paths/~1search/get/parameters/4"
        - $ref: "#/paths/~1search/get/parameters/3"
        - $ref: "#/paths/~1organisation/get/parameters/3"
        - $ref: "#/paths/~1search/get/parameters/5"
        - name: start
          in: query
          description: Include only items from start date;	`start=2017-08-01`
          required: false
          schema:
            type: string
            format: date
          example: 2017-08-01
        - name: end
          in: query
          description: Include only items before end date;	`end=2017-08-31`
          required: false
          schema:
            type: string
            format: date
          example: 2018-08-31
        - $ref: "#/paths/~1organisation/get/parameters/5"
        - $ref: "#/paths/~1organisation/get/parameters/6"
        - $ref: "#/paths/~1organisation/get/parameters/7"
        - $ref: "#/paths/~1search/get/parameters/6"
        - name: OrganisationRefId
          in: path
          required: true
          description: <p>The Ministry of Education Organisation Id of the Provider (or
            other Organisation) that must be either the <strong>source</strong>
            or <strong>related</strong> Organisation of the organisation
            relationships.
          schema:
            type: string
            pattern: ^[1-9][0-9]{0,4}$
          example: "9651"
        - name: status
          in: query
          description: Filter the results; based upon the value of the Status field
          required: false
          schema:
            type: string
            oneOf:
              - enum:
                  - A
                title: Active
                description: Queried object is Active
              - enum:
                  - I
                title: Inactive
                description: Queried object is
          example: A
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  OrganisationRelationships:
                    $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D~1organisatio\
                  nrelationship/post/requestBody/content/application~1json/exam\
                  ple"
            application/xml:
              schema:
                type: object
                properties:
                  OrganisationRelationships:
                    $ref: jsonSchema.NZ.create.yaml#/properties/OrganisationRelationships
              example:
                $ref: "#/paths/~1organisation~1%7BOrganisationRefId%7D~1organisatio\
                  nrelationship/post/requestBody/content/application~1xml/examp\
                  le"
        "401":
          $ref: "#/paths/~1search/get/responses/401"
        "422":
          $ref: "#/paths/~1search/get/responses/422"
        default:
          $ref: "#/paths/~1organisation/get/responses/default"
    put:
      tags:
        - OrganisationRelationship
        - OrganisationRelationshipBulk
      summary: Update a list of OrganisationRelationships
      description: >-
        Bulk operation to update a set of OrganisationRelationships, each of
        which represents a  single recognised relationship between two education
        Organisations. The two organisations
         are referred to as the Source Organisation and the Related Organisation.</p>
[...]
